*{
    margin: 0;
    padding: 0;
    text-align: center;
}

body{
    background-color: rgb(33,33,33);
    color: #ff8800;
}

.container{
    margin-top:5vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(3, 10vw);
    justify-content: center;
    gap: 20px;
}

.title{
    text-align: center;
    height: 100%;
    width: 100%;
    grid-column: 1 / span 3;
}

button{
    height: 3em;
    width: 3em;
}

#redWrap .button{
    background-color: lightcoral;
}

#greenWrap .button{
    background-color: lightgreen;
}

#blueWrap .button{
    background-color: lightblue;
}

p{
    height: 3em;
    display: grid;
    align-items: center;
    justify-items: center;
}